<container>
  <row class="collapse header-logo">
    <columns class="logo-inner">
      <center>
        <img src="{{ root }}/assets/img/rituals_files/rituals-logo.png" alt="Rituals">
      </center>
    </columns>
  </row>
  <row class="collapse sub-header">
    <columns large="3"></columns>
      <columns class="menu-item">
        <a href="#">
          <p>Body</p>
        </a>
      </columns>
      <columns class="menu-item">
        <a href="#">
          <p>Home</p>
        </a>
      </columns>
      <columns class="menu-item">
        <a href="#">
          <p>Gifts</p>
        </a>
      </columns>
      <columns class="menu-item">
        <a href="#">
          <p>New</p>
        </a>
      </columns>
      <columns class="menu-item">
        <a href="#">
          <img class="user-icon" src="{{ root }}/assets/img/rituals_files/user.png" alt="User">
        </a>
      </columns>
    <columns large="3"></columns>
  </row>
</container>
